/*==========  Mobile First Method  ==========*/
 /*
 * "@media responsive"
 * -----------------------------------------------
*/
/* Custom, iPhone Retina */
@media only screen and (max-width : 319px) {
	html {
		font-size: 35%;
	 }
	}
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	.showlogo{
		display: block !important;
	}
	.menuzord .innerbtn{
		display: block !important;
	}
}
@media screen and (max-width: 375px) {
	/*slider text*/
	.latest-m{
		margin-top: -15%;
	  }
	  .carousel-caption {
		top: 5px !important;
		bottom: 50px !important;
		transform: translateY(-50%);
	}
	.height-100px{
		height: 40px !important;
	}
	.text-resp{
		font-size: 3vw;
		margin-top: 5px;
	}
	.text-sup{
		font-size: 3vw;
		margin-top: 0px;
	}
	.section-content1{
		margin-bottom: -25px;
	}
	.section-content{
	  margin-top: -15%;
	  margin-bottom: -15% ;
	}
	.noticsboard{
	  margin-top: -18% !important;
	  margin-bottom: -17% !important ;
	}
	.department{
		margin-top: -25px !important;
		margin-bottom: -28px !important;
	}
	/*.viewalldpt{
		margin-top: -25px !important;
		margin-bottom: 10px !important;
	}*/
	.mobnon{
		display: none !important;
	}
	.abtsection{
	  margin-top: -15% !important;
	  margin-bottom: -15% !important;
	}
	.eventsec{
		margin-top: -25px !important;
		margin-bottom: -15px !important;
	}
	.whychooseus{
		margin-top: -25px !important;
		margin-bottom: -15px !important;
	}
	.videosec{
	  margin-top: -20% !important;
	  margin-bottom: 0% !important;
	 }
	 .researches{
	  margin-top: -5%;
	  margin-bottom: -15% ;
	 }
	 .research{
		padding-top:-5% !important;
	 }
	 .blognews{
		margin-bottom: -18% !important;
	}
}
	/* Extra Small Devices, Phones */
@media only screen and (max-width : 360px) {
	.team-block .team-thumb .styled-icons {
	  padding: 8px 20px 0 25px;
	}
	.team-block .team-thumb .team-overlay {
	  height: 88%;
	}
	}
	/* Extra Small Devices, Phones */
	@media screen and (max-width: 412px) {
		.vclick{
			margin-bottom: 5% !important;
		}
	}
	@media screen and (max-width: 414px) {
		/*slider text*/
		.menuzord .innerbtn{
			display: block !important;
		  }
		  .text-respvid{
		     padding-top: 42px !important;
		  }
		.latest-m{
			margin-top: -15%;
		  }
		.height-100px{
			height: 33px !important;
		}
		.width-40 {
			width: 61%;
		}
		.text-resp{
			font-size: 3vw;
			margin-top: 5px;
		}
		.text-sup{
			font-size: 3vw;
			margin-top: 0px;
		}
		.section-content1{
			margin-bottom: -25px;
		}
		.section-content{
		  margin-top: -15%;
		  margin-bottom: -15% ;
		}
		.noticsboard{
		  margin-top: -18% !important;
		  margin-bottom: -17% !important ;
		}
		.department{
			margin-top: -25px !important;
			margin-bottom: -28px !important;
		}
		.viewalldpt{
			margin-top: -25px !important;
			margin-bottom: 10px !important;
		}
		.mobnon{
			display: none !important;
		}
		.abtsection{
		  margin-top: -15% !important;
		  margin-bottom: -15% !important;
		}
		.eventsec{
			margin-top: -25px !important;
			margin-bottom: -15px !important;
		}
		.whychooseus{
			margin-top: -25px !important;
			margin-bottom: -15px !important;
		}
		.videosec{
		  margin-top: -20% !important;
		  margin-bottom: 0% !important;
		 }
		 .researches{
		  margin-bottom: -15% ;
		  margin-top: -5%;
		 }
		 .research{
			padding-top:-5% !important;
		 }
		 .blognews{
			margin-bottom: -18% !important;
		 }
		  .desktop-testi{
			height: auto !important;
		 }
	}
@media screen and (min-width: 414px){
	.height-100px{
		height: 40px !important;
	}
	
}
@media only screen and (max-width : 479px) {
	html {
		font-size: 50%;
	}
	.vertical-text-carousel .owl-controls .owl-buttons {
		top: 18%;
	}
	}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}
/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	html {
		font-size: 60%;
	}
	.box-hover-effect {
		float: none;
	}
	#header-logo {
		padding: 10px 15px;
	}
	#spinner {
		left: 42%;
	}
	.navbar-default .navbar-toggle {
		margin-top: 15px;
		border-radius: 0px;
	}
	#home .display-table p {
		margin: 15px 0;
		font-size: 14px;
	}
	.icon-box {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.icon-box {
		text-align: center;
	}
	.icon-box.left {
		text-align: center;
	}
	.icon-box.left a {
		margin-right: 0;
		padding: 0;
	}
	.icon-box .media-left {
		float: none !important;
		margin: 0 0 30px 0;
	}
	.icon-box .media-left, .icon-box .media-right, .icon-box .media-body {
		display: block;
		width: auto;
	}
	.call-to-action {
		text-align: center;
	}
	.call-to-action .icon {
		float: none;
	}
	.sidebar.pull-left,
	.sidebar.pull-right {
		float: none !important;
	}
	.blog-posts .entry-meta {
		background: none;
		left: auto;
		position: relative;
		top: auto;
	}
	.testimonial-carousel.boxed .owl-dots {
		 text-align: center;
	}
	.bg-img-box .caption .title {
		font-size: 24px;
		margin-top: 30px;
	}
	.service-block .thumb .desc {
	  border-top: 4px solid #fb4848;
	  bottom: -15%;
	  padding: 10px 6px 4px 20px;
	}
	.team-block .team-thumb .team-overlay {
	  padding: 60px;
	}
	.team-block .team-thumb .team-overlay {
	  height: 90%;
	}
	.team-block .team-thumb .team-overlay::after {
	  left: -1px;
	}
	.team-block .team-thumb .styled-icons {
	  padding: 9px 20px 0 25px;
	}
	.team-block .team-thumb .styled-icons::after {
	  border-width: 26px;
	  left: -52px;
	}
	}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.showlogo{
		display: none !important;
	}
}
@media screen and (max-width: 820px) {
	.video-popup img{
		height: 450px !important;
	}
	.aboutusr{
		margin-top: -5% !important;
		margin-bottom: -5% !important;
	}
	.departmenttab{
		margin-top: -13% !important;
		margin-bottom: -10% !important;
	}
	.videotab{
		margin-top: -8% !important;
	}
	.researchheader{
		margin-top: -8% !important;
	}
	.researchb{
		margin-bottom: -5% !important;
	}
	.menuzord .innerbtn{
		display: block !important;
	  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
html {
	font-size: 75%;
}
.showlogo{
	display: none;
}
.navbar-nav  .dropdown-menu {
    left: auto;
}
#header-logo {
	padding: 10px 15px;
}
.header .navbar-default .navbar-nav > li > a::after {
	display: none;
}
.team-member, .working-progress {
	margin-bottom: 60px !important;
}
.testimonial-carousel .owl-controls .owl-pagination {
	margin-right: 0px !important;
}
.map {
	margin-top: 30px;
}
.curve-bg:after, .curve-bg-half:after {
	left: auto;
	-webkit-transform: rotate(-0deg);
	-moz-transform: rotate(-0deg);
	-ms-transform: rotate(-0deg);
	-o-transform: rotate(-0deg);
	transform: rotate(-0deg);
}
.blog-posts .entry-header .entry-title {
	padding-top: 0;
}
.blog-posts .entry-header .entry-date {
	margin-left: 0;
}
.contact-wrapper {
    padding: 50px 30px;
}
.header #header-logo {
	padding-top: 20px;
}
.boxed-layout .header #header-logo,
.vertical-header .header #header-logo {
	padding-top: 10px;
}
.header .navbar-default .navbar-toggle {
	margin-top: 18px;
}
.boxed-layout .header .navbar-default .navbar-toggle {
	margin-top: 8px;
}
.header #header-logo img {
	height: 30px;
}
.pricing-table .table-price {
	font-size: 30px;
}
.bg-img-box .caption .title {
	font-size: 24px;
	margin-top: 0px;
}
.bg-img-box .caption .schedule {
	font-size: 14px;
	margin-top: 0px;
}

.service-block .thumb .desc {
  border-top: 4px solid #fb4848;
  bottom: -18%;
}
.team-block .team-thumb .styled-icons {
  padding: 10px 20px 0 25px;
  width: 88%;
}
.team-block .team-thumb .team-overlay {
  height: 88%;
}
.team-block .team-thumb .team-overlay {
  padding: 50px 30px;
}

}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.showlogo{
		display: none;
	}
}
@media only screen and (min-width : 992px) {
	.showlogo{
		display: none;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1024px) {
	.showlogo{
		display: none;
	}
	.menuzord .innerbtn{
		display: none !important;
	  }
}

/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
	.service-block .thumb .desc {
	  bottom: -47%;
	}
	.showlogo{
		display: none;
	}
	.team-block .team-thumb .team-overlay {
	  padding: 10px 15px;
	  height: 82%;
	}
	.team-block .team-thumb .team-overlay::after {
	  left: 0px;
	}
	.team-block .team-thumb .styled-icons {
	  padding: 7px 20px 0 0;
	  width: 79%;
	}
}
@media screen and (min-width:1020px) {
	.carousel-caption{
		top: 30% !important;
	}	
}

.img-fullwidth {
    width: 100%; /* Set the initial width to 100% */
    height: auto; /* Maintain the aspect ratio */
    max-width: 100%; /* Ensure the image doesn't exceed its original size */
    }
    
    @media (max-width: 768px) {
    /* Adjust the image size for devices with a maximum width of 768px (e.g., mobile devices) */
    .img-fullwidth {
      width: 100%; /* Set the width to 100% of the parent container */
    }
}

